html {
    font-size: 15px;
}

.calculator {
    width: 40%;
    height: 30rem;
    margin: 0 auto;
    padding: 0;   
    border: solid 2px #1b1b1b;
    box-sizing: border-box;
}

.displayView {
    width: 100%;
    height: 20%;
    border: solid 1px #1b1b1b;
    box-sizing: border-box;
}

.pad {
    width: 100%;
    height: 80%;
    margin: 0;
    box-sizing: border-box;
}

.col-3 {    
    width: 13%;
    box-sizing: border-box;
    padding: 0;
}

.pad button {
    width: 100%;
    height: 100%;
}